.main {
  background-color: rgb(15, 42, 15);
  padding-bottom: 40px;
}

.main h1 {
  padding: 40px 50px;
  font-size: var(--f-l);
  color: var(--grey-2);
}

@media screen and (max-width: 500px) {
  .main h1 {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 300px) {
  .main {
    padding-bottom: 20px;
  }
  .main h1 {
    padding: 20px 20px;
  }
}
